body {
    background-color: #444444;
}

.container {
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.animal {
    background-color: #EEEEEE;
    width: 500px;
}

.animal-image {
    max-width: 500px;
}