body {
    background-color: #444444;
}

.container {
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

.animal {
    background-color: #eeeeee;
    max-width: 500px;
    width: 100vw;
    box-shadow: 2px 2px 6px;
}

.animal-image {
    width: 100%;
    box-shadow: 0px 0px 2px;
}

.animal-content {
    margin: 20px;
}